<ion-view view-title="{{ 'summary' | translate }}">
    <ion-content>
        <ion-item class="item-divider">
            {{ 'score' | translate }}
        </ion-item>

        <ion-item class="item-icon-left" ng-class="qs.quiz.passed ? 'balanced' : 'assertive'">
            <i class="icon" ng-class="qs.quiz.passed ? 'ion-checkmark balanced' : 'ion-close assertive'"></i>
            {{ qs.quiz.passed ? 'quiz_positive' : 'quiz_negative' | translate }}
            <span class="item-note">
                {{qs.quiz.score.correct}} / {{qs.quiz.count}} [{{ qs.quiz.score.result | number : 1}}%]
            </span>
        </ion-item>

        <ion-item class="item-divider">
            {{ 'key_sheet' | translate }}
        </ion-item>

        <div class="list">
            <a class="item item-icon-left" href="#/tab/quiz/{{$index}}"
               ng-repeat="score in qs.quiz.score.key track by $index">
                <i class="icon" ng-class="score ? 'ion-checkmark balanced' : 'ion-close assertive'"></i>
                {{ 'question' | translate }} {{ $index + 1 }}
                <span class="item-note" ng-class="score ? 'balanced' : 'assertive'">
                     {{ {true: 'correct',  false: 'incorrect', undefined: 'no_answer'}[score] | translate}}
                </span>
            </a>
        </div>

        <ion-item class="item-divider"></ion-item>

        <ion-item>
            <a class="button button-light button-block" href="#/tab/quiz/0">
                {{ 'preview_your_answers' | translate }}
            </a>

            <a class="button button-stable button-block" href="#/tab/quiz">
                {{ 'new_quiz' | translate }}
            </a>
        </ion-item>
    </ion-content>
</ion-view>
