<ion-view view-title="{{ 'summary' | translate }}">
  <ion-content>

    <div class="card">
        <ion-item class="item-divider">
            {{ 'score' | translate }}
        </ion-item>
        <ion-item>
            {{ qq.result > qq.quiz.minimumScore ? 'positive' : 'negative'  | translate }}
            <span class="item-note">
                {{qs.quiz.score.correct}} / {{qs.quiz.count}} [{{ qq.result | number : 1}}%]
            </span>
        </ion-item>
    </div>

 <!--    <ion-radio class="item-text-wrap"  ng-repeat="topic in fr.topics" ng-model="fr.choosenTopic" ng-value="topic" ng-change="fr.scrollBottom()"> {{topic.title}} </ion-radio>
 -->
    <div class="card">
        <ion-item class="item-divider">
        {{ 'key_sheet' | translate }}
        </ion-item>
        <ion-item >
            <button class="button button-outline button-block" ng-class="score ? 'button-balanced' : 'button-assertive'" href="tab/quiz/{score.id}" ng-repeat="score in qs.quiz.score.key track by $index"> {{ $index + 1 }}
            <span class="item-note" ng-style="{color: score ? 'green' : 'red'}">
                {{ score ? 'correct' : 'wrong' | translate}}
            </span>
            </button>
        </ion-item>
        
        
    </div>

        <ion-item>
            <button class="button button-positive button-block" ng-click="fr.startQuiz(fr.choosenTopic)">
                {{ 'start_quiz' | translate }} 
            </button>
        </ion-item>
    </div>
  </ion-content>
</ion-view>
