<ion-view>
    <ion-nav-title>
        {{qq.current.title}}
        <span style="float:left;color:#bbb">30:00</span>
        <span style="float:right;color:#bbb"> [{{qq.currentIdx + 1}}/{{qq.current.count}}]</span>
    </ion-nav-title>

    <ion-content>
        <div class="item item-text-wrap">
            {{qq.question.q}}
        </div>
        
        <div class="item item-divider"></div>

        <div style="min-height: 50vh">
            <ion-radio 
                class="item-text-wrap"
                ng-repeat="answer in qq.question.ans"
                ng-class="{'correct': qq.current.ended && qq.correct, 'incorrect': qq.current.ended && !qq.correct}"
                ng-model="qq.choice"
                ng-value="answer.ans"
                ng-disabled="qq.current.ended">

                <span ng-style="{color: qq.current.ended && !qq.correct && answer.ans === qq.question.correct ? 'red' : 'black'}">
                    {{answer.msg}} {{answer.ans}} </span>
            </ion-radio>
        </div>

        <button ng-if="!qq.current.ended" 
            class="button button-block" 
            ng-click="qq.checkAnswer(qq.question, qq.choice)">
                {{'mark' | translate}} </button>

        <div ng-show="qq.current.ended" class="row">
            <a  class="button col" 
                ng-href="#/tab/quiz/{{qq.currentIdx - 1}}" 
                ng-disabled="qq.currentIdx === 0"> 
                    {{'previous' | translate}} </a>

            <a  ng-if="qq.current.ended" 
                class="button col" 
                ng-href="#/tab/quiz/{{qq.currentIdx + 1}}" 
                ng-disabled="qq.currentIdx === qq.current.count - 1">
                    {{'next' | translate}} </a>
        </div>

        <a ng-show="qq.current.ended" class="button button-light button-block" ng-href="#/tab/quiz/summary">
            {{'back_to_summary' | translate}}
        </a>
    </ion-content>
</ion-view>
