<ion-view view-title="Dashboard">
  <ion-content>
    <ion-list>
      <ion-item>
        <a href="#/tab/quiz" class="button button-calm button-block">Start new quiz</a>
      </ion-item>
      
      <div class="card">
        <ion-item class="item-divider">
          Learning resources
        </ion-item>
          <ion-checkbox ng-repeat="topic in topics" ng-model="topic.selected">{{topic.title}}</ion-checkbox>
      </div>

      <div class="card">
        <ion-item class="item-divider">
          Statistics
        </ion-item>
        
        <ion-item >
          Questions answered
          <span class="item-note">
            123
          </span>
        </ion-item>
        
        <ion-item>
          Correct answers
          <span class="item-note">
            52%
          </span>
        </ion-item>
        
        <ion-item>
          Last 100
          <span class="item-note">
            52%
          </span>
        </ion-item>

        <ion-item class="item-divider">
          Quizzes
        </ion-item>
        
        <ion-item ng-repeat="topic in topics">
          {{topic.title}}
          <span class="item-note">
            12%
          </span>
        </ion-item>

        <ion-item class="item-divider"></ion-item>
        
        <ion-item>
            <button class="button button-small button-block">Reset stats</button>
          </ion-item>
      </div>
    </ion-list>
  </ion-content>
</ion-view>
