<ion-view view-title="Test">
  <ion-content>
    <div class="item item-text-wrap">
      <div style="height: 100px">
        {{fr.test.q}}
        
      </div>
    </div>
    
    <div style="height: 50vh">
      <ion-radio class="item-text-wrap" ng-class="{'correct': fr.answered && fr.correct, 'incorrect': fr.answered && !fr.correct}" ng-repeat="answer in fr.test.ans" ng-model="fr.choice" ng-value="answer.ans" ng-disabled="fr.answered"> {{answer.msg}}</ion-radio>
    </div>
      <button ng-if="!fr.answered" class="button button-block" ng-click="fr.checkAnswer(fr.test, fr.choice)">Check</button>
      <button ng-if="fr.answered" class="button button-block">next Question</button>
 
  </ion-content>
</ion-view>
