<ion-view view-title="PPL(A) Test Quiz [{{qq.currentIdx}}/{{qq.current.count}}]">
  <ion-content>
    <div class="item item-text-wrap">
      <div>
        {{qq.question.q}}
      </div>
    </div>
    <div class="item item-divider">

  </div>
    <div style="min-height: 50vh">
      <ion-radio class="item-text-wrap" ng-class="{'correct': qq.answered && qq.correct, 'incorrect': qq.answered && !qq.correct}" ng-repeat="answer in qq.question.ans" ng-model="qq.choice" ng-value="answer.ans" ng-disabled="qq.answered"> 
        {{answer.msg}}
      </ion-radio>
    </div>
      <button ng-if="!qq.answered" class="button button-block" ng-click="qq.submitAnswer(qq.question, qq.choice)">{{'mark' | translate}}</button>
      <div class="row">

       <a ng-if="!qq.answered" class="button" ng-href="#/tab/quiz/1">{{'previous' | translate}}</a> 
       <a ng-if="!qq.answered" class="button" ng-href="#/tab/quiz/4">{{'next' | translate}}</a>
      </div>
      <div class="row">
       <a ng-if="!qq.answered" class="button" ng-href="#/tab/quiz/1">{{'new_quiz' | translate}}</a>  
      </div>
  </ion-content>
</ion-view>
