<ion-view view-title="Dashboard">
  <ion-content>
    <ion-list>
      <ion-item>
        <button class="button button-calm button-block">Start Learning</button>
      </ion-item>
      
      <ion-item>
        <button class="button button-calm button-block">Take a quiz</button>
      </ion-item>

      <div class="card">
        <ion-item class="item-divider ">
          Statistics
        </ion-item>
        
        <ion-item >
          Questions answered
          <span class="item-note">
            123
          </span>
        </ion-item>
        
        <ion-item>
          Correct answers
          <span class="item-note">
            52%
          </span>
        </ion-item>
        
        <ion-item>
          Last 30
          <span class="item-note">
            52%
          </span>
        </ion-item>

        <ion-item>
            <button class="button-block">Reset stats</button>
        </ion-item>
      </div>


    </ion-list>
  </ion-content>
</ion-view>
