<ion-view>
    <ion-nav-title>
        {{qq.current.title}}
        <span style="float:left;color:#bbb">30:00</span>
        <span style="float:right;color:#bbb"> [{{qq.currentIdx + 1}}/{{qq.current.count}}]</span>
    </ion-nav-title>

    <ion-content>
        <div class="item item-text-wrap">
            {{qq.question.q}}
        </div>
        
        <div class="item item-divider"></div>

        <div ng-if="!qq.current.ended">
            <div style="min-height: 50vh">
                <ion-radio 
                    class="item-text-wrap"
                    ng-repeat="answer in qq.question.ans"
                    ng-model="qq.choice"
                    ng-value="answer.ans">

                    <span > {{answer.msg}} </span>
                </ion-radio>
            </div>

            <button class="button button-block" 
                    ng-click="qq.checkAnswer(qq.question, qq.choice)">
                        {{'mark' | translate}} </button>
        </div>
        
        <div ng-if="qq.current.ended"> 
            <div style="min-height: 50vh">
                <ion-list>
                    <ion-item
                        class="item-icon-right"
                        ng-class="{'item-balanced': answer.ans === qq.choice && qq.correct, 
                                   'item-assertive': answer.ans === qq.choice && !qq.correct}"
                        ng-repeat="answer in qq.question.ans">
                        
                        <i ng-if="answer.ans === qq.choice && qq.correct" class="icon ion-checkmark"></i>
                        <i ng-if="answer.ans === qq.choice && !qq.correct" class="icon ion-close"></i>
                        
                        <span ng-style="{color: !qq.correct && answer.ans === qq.question.correct ? 'red' : 'black'}">
                            {{answer.msg}} </span>
                    </ion-item>
                </ion-list>
            </div>
            <div class="row">
                <a  class="button col" 
                    ng-href="#/tab/quiz/{{qq.currentIdx - 1}}" 
                    ng-disabled="qq.currentIdx === 0"> 
                        {{'previous' | translate}} </a>

                <a  class="button col" 
                    ng-href="#/tab/quiz/{{qq.currentIdx + 1}}" 
                    ng-disabled="qq.currentIdx === qq.current.count - 1">
                        {{'next' | translate}} </a>
            </div>

            <a class="button button-light button-block" ng-href="#/tab/quiz/summary">
                {{'back_to_summary' | translate}}
            </a>

        </div>
    </ion-content>
</ion-view>
