$light: #fff !default;
$stable: #f8f8f8 !default;
$positive: #387ef5 !default;
$calm: #11c1f3 !default;
$balanced: #33cd5f !default;
$energized: #ffc900 !default;
$assertive: #ef473a !default;
$royal: #886aea !default;
$dark: #444 !default;

.item-radio.correct input {

  &:checked ~ .item-content {
    /* style the item content when its checked */
    background: $balanced;
  }
}

.item-radio.incorrect input {

  &:checked ~ .item-content {
    /* style the item content when its checked */
    background: $assertive;
  }
}

.transparent {
  background-color: initial;
}

.card-background {
  position: absolute;
  text-align: center;
  width: 100%;
  font-size: 30vh;
  color: #f9f9f9;
  margin-top: 30px;
}

.header-annotation {
  padding: 7px;
  font-size: 16px;
  color: #ccc;
}