[project]
	description = Text exam questions for PPL(A) license in Poland
[access]
	inheritFrom = All-Projects
[access "refs/*"]
	owner = group user/dylo0
[access "refs/for/refs/*"]
	read = group user/dylo0
	push = group user/dylo0
	label-Code-Review = -2..+2 group user/dylo0
	label-Verified = -1..+1 group user/dylo0
	rebase = group user/dylo0
	removeReviewer = group user/dylo0
	submit = group user/dylo0
[access "refs/heads/*"]
	read = group user/dylo0
	create = group user/dylo0
	push = +force group user/dylo0
	pushMerge = group user/dylo0
[access "refs/tags/*"]
	push = +force group user/dylo0
	pushTag = group user/dylo0
	pushSignedTag = group user/dylo0
