.item-radio.correct input:checked ~ .item-content {
  /* style the item content when its checked */
  background: #33cd5f; }

.item-radio.incorrect input:checked ~ .item-content {
  /* style the item content when its checked */
  background: #ef473a; }
